@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #edeef0;
  --color-button: #e98603;
  --font-vonca: "Vonca", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-Montser: "Monsterrat ExtraLinght";
}

body,
html {
  @apply min-h-screen w-full overflow-x-hidden scroll-smooth text-sm md:text-base lg:text-lg;
}

.bg {
  background-image: url("/images/bg_10.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/images/bg_10.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
}
